name: ci
on: [ push ]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.1.4
        with:
          node-version: 14

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-sls-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-sls-
      - run: npm install
      - run: npm run lint
      - run: npm run coverage
      - name: integration-test
        if: ${{ github.actor != 'dependabot[bot]' }}
        run: npm run integration-test -- --coverageDirectory coverage/integration_tests
        env:
          AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
          AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}

      - uses: actions/upload-artifact@v2
        with:
          name: code-coverage-report
          path: coverage
